# k8s/service.yml

apiVersion: v1
kind: Service
metadata:
  name: microservice-app
  namespace: production
  labels:
    app: microservice-app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: microservice-app
  sessionAffinity: None

